@use "card";
@use "footer";
@use "variables";

html {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: variables.$primary-dark-cyan;
  background-image: url("../../images/bg-pattern-top.svg"),
    url("../../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-size: variables.$background-size;
  background-position: variables.$background-position-top,
    variables.$background-position-bottom;
  z-index: 2;
}
